/********* GLOBAL *********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --main-grey-color: #31302D;
    --main-green-color: #79AC16;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    font-size: var(--size);
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: black;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

section {
    width: 100%;
    margin: 0!important;
    padding: 0;
}

/********* GLOBAL *********/

.home {
    background-image: url("../img/logo.png"), url("../img/back-home.png");
    background-repeat: no-repeat;
    background-position: top center;
}

w-100 {
    width: 100%;
}

h-100 {
    height: 100%;
}

.content-home {
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding-top:40rem;
}

.content-home a {
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    transition-delay: 0s, 0.3s;
    padding: 3rem 5rem;
    font-weight: 700;
    border: 1rem solid var(--main-green-color);
    background-color: var(--main-green-color);
}

.content-home a:hover {
    font-size: 5.5rem;
    transition: transform 0.25s ease-out;
}

.center-text {
    text-align: center;
}

img{
    width: auto;
    mix-blend-mode: darken;
    max-height: 50vh;
}

h2,
h1 {
    text-transform: uppercase;
    padding: 5rem 0;
    text-align: center;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
    padding: 5rem 0;
    text-transform: uppercase;

}

ul li {
    text-transform: none;
    color: black;
}

ul li a {
    color: black;
}

ul a {
    color: var(--main-green-color);
}

ul a:hover {
    font-size: 1.1rem;
}

.uppercase {
    text-transform: uppercase;
}

.green {
    color: var(--main-green-color);
}

section {
    margin: 5rem 2rem;
}

hr {
    margin: 5rem 0;

}

/********* HEADER *********/

.site-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    margin-bottom: 2rem;
}

.logo {
    width: 100%;
    height: 200px;
    margin: 2rem;
}

img.logo {
    width: 15%;
    height: auto;
}

/********* PAGE PROJET *********/

.projet {
    background-image: linear-gradient(to bottom, #ffffffeb, #ffffffeb),url("../img/back-projet.png");
    padding: 2rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.big {
    font-size: 5rem;
    padding: 5rem;
    text-transform: uppercase;
}

.size-font {
    font-size: 2rem;
}



a {
    color: inherit;
}

a:hover {
    color: #bbb;
}



/** LIGHTBOX MARKUP **/

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
